* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #eee;
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
	background: linear-gradient(to top, #fff 10%, #FF8B3D 60%) no-repeat;
	overflow: hidden;
}

.wrapper {
	max-width: 400px;
	border-radius: 10px;
	padding: 30px 40px;
	background-color: white;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.h2 {
	font-style: normal;
	color: #FF8B3D;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-align: center;
	margin-bottom: 20px;
}

h3 {
	font-style: normal;
	color: #FF8B3D;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-align: left;
}

table {
	border-collapse: separate;
	border-spacing: 0 10px;
}

th {
	width: 314px;
	text-align: center;
}

td {
	width: 100px;
}

input[type="password"] {
	border: 1px solid black;
	border-radius: 4px;
	width: 310px;
	height: 40px;
	font-size: 13px;
	padding-left: 10px;
}

button {
	text-align: center;
	margin-top: 10px;
	width: 314px;
	height: 40px;
	border: 1px solid #FF8B3D;
	border-radius: 4px;
	background-color: #FF8B3D;
	color: white;
	font-weight: bolder;
	font-size: medium;
	cursor: pointer;
}

.ajs-close {
	color: black;
	background-color: black;
}

.explain {
	display: block;
	font-size: 12px;
	color: black;
	margin-top: 2%;
	margin-bottom: 4%;
}

.explain2 {
	display: none;
	font-size: 12px;
	color: black;
	margin-top: 2%;
	margin-bottom: 4%;
}
