* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: #eee;
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
	background: linear-gradient(to top, #fff 10%, #FF8B3D 60%) no-repeat;
	overflow: hidden;
}

.wrapper {
	max-width: 400px;
	border-radius: 10px;
	padding: 30px 40px;
	background-color: white;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.h2 {
	font-style: normal;
	color: #FF8B3D;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-align: center;
	margin-bottom: 20px;
}

h3 {
	font-style: normal;
	color: #FF8B3D;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	text-align: left;
}

table {
	border-collapse: separate;
	border-spacing: 0 10px;
}

th {
	width: 314px;
	text-align: center;
}

td {
	width: 100px;
}

input[type="text"] {
	border: 1px solid black;
	border-radius: 4px;
	width: 310px;
	height: 40px;
	font-size: 13px;
	padding-left: 10px;
}

button {
	text-align: center;
	margin-top: 20px;
	width: 314px;
	height: 40px;
	border: 1px solid #FF8B3D;
	border-radius: 4px;
	background-color: #FF8B3D;
	color: white;
	font-weight: bolder;
	font-size: medium;
	cursor: pointer;
}

.ajs-close {
	color: black;
	background-color: black;
}

/* 모달 창 */
.modal {
	background-color: white;
	border-radius: 5px;
	padding: 20px;
	text-align: center;
	display: none;
}

/* 모달 내용 */
.modal-content {
	margin-bottom: 20px;
}

/* 모달 확인 버튼 */
.modal-button {
	background-color: #FF8B3D;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 5px 10px;
	cursor: pointer;
}