<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">

	<resultMap id="noticeResultSet" type="notice">
		<id column="NOTICE_NO" property="noticeNo" />
		<result column="NOTICE_TITLE" property="noticeTitle" />
		<result column="NOTICE_CONTENT" property="noticeContent" />
		<result column="MEMBER_NAME" property="noticeWriter" />
		<result column="NOTICE_COUNT" property="noticeCount" />
		<result column="NOTICE_CREATE_DATE" property="noticeCreateDate" />
		<result column="NOTICE_STATUS" property="noticeStatus" />
		<result column="NEW_NOTICE" property="newNotice" />
	</resultMap>
	
	<select id="selectNoticeList" resultMap="noticeResultSet">
		SELECT NOTICE_NO, NOTICE_TITLE, MEMBER_NAME, NOTICE_CONTENT, NOTICE_CREATE_DATE, TRUNC(SYSDATE - TO_DATE(NOTICE_CREATE_DATE)) AS NEW_NOTICE
		FROM NOTICE
		JOIN MEMBER ON NOTICE_WRITER = MEMBER_NO
        WHERE NOTICE_STATUS = 'Y'
        ORDER BY NOTICE_NO DESC
	</select>
	
	<select id="noticeDetailView" parameterType="int" resultMap="noticeResultSet">
		SELECT NOTICE_NO, NOTICE_TITLE, NOTICE_CONTENT, NOTICE_CREATE_DATE, TRUNC(SYSDATE - TO_DATE(NOTICE_CREATE_DATE)) AS NEW_NOTICE
		FROM NOTICE
		WHERE NOTICE_NO = #{nno}
	</select>
	
	<select id="selectListCount" resultType="int">
		SELECT COUNT(*)
		FROM NOTICE
		WHERE NOTICE_STATUS = 'Y'
	</select>
	
</mapper>

























